@font-face {
    font-family: monospaceTypewriter;
    src: url('../fonts/monospacetypewriter-webfont.eot');
    src: url('../fonts/monospacetypewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monospacetypewriter-webfont.woff2') format('woff2'),
         url('../fonts/monospacetypewriter-webfont.woff') format('woff'),
         url('../fonts/monospacetypewriter-webfont.ttf') format('truetype'),
         url('../fonts/monospacetypewriter-webfont.svg#monospacetypewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { 
	margin: 0; 
	padding: 0;
}

canvas { 
    width: 100%; 
    height: 100%; 
}

#logo {
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 350px;
}

#ThreeJS {
	position: absolute;
	top: 0px;
	left: 0px;
}

.textStyle {
	font-family: monospaceTypewriter;
	font-style: italic;
	color: white;
	font-size: .99em;
	letter-spacing: 0.3em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(219, 143, 164); 
}

.selector {
	z-index: 2;
	visibility: hidden;
	position: absolute;
}

#pop-up {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}

.black {
	color: black;
}

#gameInfo {
	text-align: center;
}

#gameInfo:hover {
    
}

.menu {
	z-index: 2;
}

.line {
	stroke: white;
	stroke-width: 2;
/*	fill: white;*/
	position: fixed;
}

#svgLine {
	position: fixed;
	z-index: 2;
}

#infoBox {
	background-color: rgba(255, 255, 255, .75);
	padding: 10px 40px;
	max-width: 400px;
	position: fixed;
}

.decorativeBox {
	background-color: rgba(255, 255, 255, .75);
	width: 300px;
	height: 50px;
}

#credits {
	z-index: 2;
	position: fixed;
	bottom: 15px;
	font-size: .75em;
	text-align: center;
	width: 100%;
}